@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #b3b3b3;
}

.container {
    width:500px;
    position: absolute;
    margin: 0 auto;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);  
}

@media only screen and (max-width:500px) {
    html {
        overflow: hidden;
    }
    .container {
        width: 300px;
        top:55%;
    }
    .calc-name {
        text-align: center;
        font-size: 3.8rem;
        padding: 2px 0;
    }
    button.change-theme {
        position: fixed;
        bottom: 0;  
    }
}
.calc-name {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 5rem;
}

.screen {
    font-size: 5.8rem;
    text-align: right;
    background: #ff3333;
    border-radius: 5px;
    padding: 5px;
}

.memory {
    text-align: right;
    line-height: 1.5;
    font-size: 2rem;
    background: teal;
    border-radius: 5px;
    padding: 0 10px;
}

.calculator {
    display: flex;
    flex-direction: column;

}

.calc-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
}

.calc-buttons {
    color:#fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #434343;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-basis: 25%;
    transition: all 0.4s ease 0s;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.operator{
    font-size: 2rem;
    text-align: center;
}
.calc-buttons:hover {
    background: #ed3330;
}

.double {
    flex-basis: 50%;
}
.triple {
    flex-basis: 75%;
}

.change-theme {
    position: absolute;
    bottom: 5%;
    left: 50%; 
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    line-height: 30px;
    width: 200px;
    background-image: linear-gradient(to right,#ADEFD1FF,#00203FFF);
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
}

.lightmode {
    background: #b6d6cb;
}

.darkmode {
    background: #434343;
}