@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  background-color: rgb(4, 11, 23);
}

h1 {
  text-align: center;
  color: whitesmoke;
}

header {
  text-align: center;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  font-size: 2rem;
}

.main-content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  margin: 0 20px 0 20px;
}

.playerChoice {
  margin: auto;
  width: 500px;
}

.playerChoice input {
  float: center;
  padding: 10px;
  width: auto;
  height: 200px;
  background-size: cover;
}

p {
  color: yellow;
  text-align: center;
  font-size: 2rem;
}

.playerPoints,
.computerPoints {
  font-size: 3rem;
}

.roundShowcase {
  text-align: center;
}

.playAgain {
  padding: 20px;
  font-size: 15px;
  background: #fbe901;
  border: none;
  color: #083517;
  border-radius: 5px;
}
